# Prerequisites
*.d
build/
.vscode/
dist/
*.pyc
.pyodide-xbuildenv/
node_modules/
# Compiled Object files
*.slo
*.lo
*.o
*.obj
.metals

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
